        
        html{
            background-color: #0e2211;
        }
        body{
            background-color: #e9aa20;
        }
        h1{
            background-color: #a0a291;
        }
        p{
            background-color: aqua;
        }
        .nombreClaseRojo{
            background-color: red;
        }
        .nombreClaseAzul{
            background-color: blue;
        }
        .nombreClaseAmarillo{
            background-color: yellow;
        }
        #parrafoVerde{
            background-color: brown;
        }
        cual{
            background-color: aqua;
        }